<%= stylesheet_link_tag "pages" %>



<div class="user-box">
    <h1>Fish art by:</h1>
    <br>
    Marseline Mercado <br>
    Jessica Ramos <br>
    Monica Openchowski <br> 
    Alan Gonzalez <br>
    Steven Alex <br>
    Lauren Gonzalez <br>
</div>


