<%= stylesheet_link_tag "pages" %>
<div class="user-box">
    <h1> The user with the most fish is...</h1>
    <br>
    <br>
    <h2><%= @user.username %> with <%= @number_of_fish %> fish! </h2>
</div>
