body {
    background-color: black;
    background-image: url("jellyfish.jpg");
    background-size:cover;
   	background-repeat:no-repeat;
    color: white;
    text-align: center;
    font-family: Verdana;
}
ul {
    z-index: 1000;
    list-style-type: none;
    margin: 0px 0px 0px -8px;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  li {
    float: right;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
  }
  
  .active {
    background-color: #4CAF50;
  }
// Search bar styles
  .search-container {
    
    float: right;
  }
  .list-search {
    border-radius: 20px;
  }
  .search-container input[type=text] {
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
  }
  .search-container .search-button {
    
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
  }
  .search-container .search-button:hover {
    background: #ccc;
  }
 
  .search-button:hover {
    background: #ccc;
  }
  .search-button {
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
  }

  //Flash message
  .alert {
    padding: 20px;
    background-color: #f44336;
    color: white;
    z-index: 1001;
  }
  .success {
    padding: 20px;
    z-index: 1001;
    background-color: #26e274;
    color: white;
  }
  
  .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .closebtn:hover {
    color: black;
  }

  //Points Styling
  .points {
    padding: 0px 101px;

  }