
body {
    font-family: Verdana;
}

  //   Form
  .user-box {
    //position: absolute;
    //top: 50%;
    //left: 50%;
    //width: 90%;
    height: 70%;    
    padding: 40px;
    //transform: translate(-50%, -50%);
    background: rgba(0,0,0,.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
  }
  
  .user-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
  }
  
  .user-box .user-box {
    position: relative;
  }
  
  .user-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
  }

  .user-box .user-box label {
    position: absolute;
    top:0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #3e7bff;
    pointer-events: none;
    transition: .5s;
  }
  
  .user-box .user-box input:focus ~ label,
  .user-box .user-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: #3e7bff;
    font-size: 12px;
  }
  
  .user-box form .submit-button {
    position: relative;
    display: inline-block;
    padding: 23px 120px;
    color: #ffffff;
    background-color: rgb(0, 110, 255);
    font-size: 16px;
    text-decoration: none;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px;
    border-radius: 5px;
    border: none;
    font-family: Verdana;
  }

  //NEW
  .header {
    background-color: transparent;
    padding: 120px;
    text-align: center;
  }
  
  /* Style the top navigation bar */
  .topnav {
       /* overflow: hidden; */
       background-color: #333;

       text-align: center;
       display: inline-block;
       /* padding-left: 50px; */
       /* padding: 0px 464px; */
       width: 100%;
  }
  
  /* Style the topnav links */
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    width: 31.65%;
   
  }
  
  /* Change color on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Create three equal columns that floats next to each other */
  .column {
    float: left;
    width: 31%;
    padding: 15px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  ///////////////
  // User Profile Cards
  @import url(https://fonts.googleapis.com/css?family=Roboto:300,400,600);
  .snip1336 {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    font-family: 'Roboto', Arial, sans-serif;
    position: relative;
    display: inline-block;
    overflow: hidden;
    margin: 10px;
    min-width: 230px;
    max-width: 315px;
    width: 100%;
    color: #ffffff;
    text-align: left;
    line-height: 1.4em;
    background-color: #141414;
  }
  .snip1336 * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
  }
  .snip1336 img {
    max-width: 100%;
    vertical-align: top;
    opacity: 0.85;
  }
  .snip1336 figcaption {
    width: 100%;
    background-color: #141414;
    padding: 25px;
    position: relative;
  }
  .snip1336 figcaption:before {
    position: absolute;
    content: '';
    bottom: 100%;
    left: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 55px 0 0 400px;
    border-color: transparent transparent transparent #141414;
  }
  .snip1336 figcaption a {
    padding: 5px;
    border: 1px solid #ffffff;
    color: #ffffff;
    font-size: 0.7em;
    text-transform: uppercase;
    margin: 10px 0;
    display: inline-block;
    opacity: 0.65;
    width: 47%;
    text-align: center;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
  }
  .snip1336 figcaption a:hover {
    opacity: 1;
  }
  .snip1336 .profile {
    border-radius: 50%;
    position: absolute;
    bottom: 137%;
    left: 50px;
    z-index: 1;
    //max-width: 90px;
    opacity: 1;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
  }
  .snip1336 .follow {
    margin-right: 4%;
    border-color: #2980b9;
    color: #2980b9;
  }
  .snip1336 h2 {
    margin: 0 0 5px;
    font-weight: 300;
  }
  .snip1336 h2 span {
    display: block;
    font-size: 0.5em;
    color: #2980b9;
  }
  .snip1336 p {
    margin: 0 0 10px;
    font-size: 0.8em;
    letter-spacing: 1px;
    opacity: 0.8;
  }

  ////////////
  ///
  ///tank
  ///
  ////////////
  


  
  .tank-image {
    width: 101px;
    height: 101px;
    position: absolute;
    z-index: -1;
    color: white; 
  }
  
  .tank-image:nth-child(1) {
    top: 159px;
    left: 664px;
     }
  
  .tank-image:nth-child(2) {
    top: 43px;
    left: 297px;
    }
  
  .tank-image:nth-child(3) {
    top: 58px;
    left: 1206px;
}
  
  .tank-image:nth-child(4) {
    top: 178px;
    left: 116px;
}
  
  .tank-image:nth-child(5) {
    top: 158px;
    left: 448px;
  }
  
  .tank-image:nth-child(6) {
    top: 101px;
    left: 1581px;
 }
  
  .tank-image:nth-child(7) {
    top: 59px;
    left: 193px;
   }
  
  .tank-image:nth-child(8) {
    top: 109px;
    left: 940px;
   }
  
  .tank-image:nth-child(9) {
    top: 210px;
    left: 1474px;
  }
  
  .tank-image:nth-child(10) {
    top: 220px;
    left: 579px;
     }

     /////////////////
     //friends search button
     .friends-search-button {
       padding: 20px;
       border-radius: 20px;
       background-color: rgb(60, 128, 255);
       color: white;
       text-decoration: none;
       box-shadow: none;
     }

     ///////
////mini friend card
.mini-friend-card {
  border-radius: 10px;
  z-index: 100;
  background: rgba(55, 106, 201, 0.5);
}
.inner-mini-friend-card {
  display: flex;
  position: relative;
  margin: 20px;
}
.mini-friend-avatar {
  padding: 10px;
  margin-top: 10px;
}
.mini-friend-card-name {
  padding: 40px;
  font-family: Verdana;
}

//////////////////
  /* Style the top navigation bar */
  .aquarium-nav {
    // /* overflow: hidden; */
    // background-color: #333;

    // text-align: center;
    // display: inline-block;
    // /* padding-left: 50px; */
    // /* padding: 0px 464px; */
    // width: 100%;

    z-index: 999;
    list-style-type: none;
    margin: 330px 0px 0px -8px;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: absolute;
    top: 0;
    width: 100%;

}

/* Style the topnav links */
.aquarium-nav a {
 float: left;
 display: block;
 color: #f2f2f2;
 text-align: center;
 padding: 14px 16px;
 text-decoration: none;
 width: 31.65%;


  

}

/* Change color on hover */
.aquarium-nav a:hover {
 background-color: #ddd;
 color: black;
}

//////////////////
.row {
  padding-top: 60px;
}


///////////////
.new-message-button {
  position: relative;
  display: inline-block;
  padding: 23px 80px;
  color: #ffffff;
  background-color: rgb(0, 110, 255);
  font-size: 16px;
  text-decoration: none;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 4px;
  border-radius: 5px;
  border: none;
  font-family: Verdana;
}
//////////////////
//edit


//   Form
.edit-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: rgba(0,0,0,.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border-radius: 10px;
}

.edit-box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}

.edit-box .edit-info-box {
  position: relative;
}

.edit-box .edit-info-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}
.edit-box .edit-info-box label {
  position: absolute;
  top:0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #3e7bff;
  pointer-events: none;
  transition: .5s;
}

.edit-box .edit-info-box input:focus ~ label,
.edit-box .edit-info-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #3e7bff;
  font-size: 12px;
}

.edit-box form .submit-button {
  position: relative;
  display: inline-block;
  padding: 23px 120px;
  color: #ffffff;
  background-color: rgb(0, 110, 255);
  font-size: 16px;
  text-decoration: none;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 4px;
  border-radius: 5px;
  border: none;
  font-family: Verdana;
}